@import url('http://fonts.googleapis.com/css?family=Chau+Philomene+One');

html{

	height:100%;
	width:100%;
	font-family: Chau Philomene One;
	overflow: hidden;

}

body{
	height: 100%;
	width:100%;
	margin:0;
	color:#a6a6a6;
	word-wrap: normal;
}

h1{
	margin:0;
	padding-top: 2%;
	font-size: 40px;
}

#header{
	position: relative;
	text-align: center;
	height:20%;
	width:100%;
	z-index: 0;

}

#main{

	position: relative;
	height:80%;
	width:100%;
	z-index: 0;
}

#leftpane{

	height: 80%;
	width: 60%;
	float: left;
	padding: 0;
	margin: 0;
	position: relative;
}

#rightpane{

	height: 80%;
	width: 40%;
	float: right;
	padding: 0;
	margin: 0;
	position: relative;

}

#textbase{

	width: 80%;
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;

}

.imagestrip{
	background: url('../img/Apogee-_0043_Rectangle-12.png');
	width: 30%;
	height: 100%;
	float: right;
	margin: 0;
	padding: 0;
	position: relative;

}

#imagebase{

	width: 70%;
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;

}

.textstrip{
	background: url('../img/Apogee-_0057_Rectangle-9.png');
	width: 20%;
	height: 100%;
	float: right;
	margin: 0;
	padding: 0;
	position: relative;

}

.trect{

	height:10%;
	position: relative;
	margin: 0;
	padding: 0;
	background-image: url("../img/Apogee-_0007_Rectangle-15-copy-5.png");
}

#bot{

	height:20%;
	position: relative;
	width: 100%;
	clear:both;
	padding: 0;
	margin: 0;
	bottom:0;
}

#display{
	background-image: url("../img/back.png");
	position: absolute;
	height:100%;
	width:100%;
	z-index: -2;
}


.text{
	background-image: url("../img/text.png");
	background-repeat: no-repeat;
	height: 80%;
	width: 100%;
}

.imgele{
	background-image: url("../img/text.png");
	width:100%;
	position: relative;
	height: 20%;
	margin: 0;
	padding: 0;

}

.layer{
	height:100%;
	width:100%;
	margin: 0;
	padding:0;
}

.textele {

	width:100%;
	position: relative;
	height: 20%;
	margin: 0;
	padding: 0;
}	

#img1{
	    position: relative;
    z-index: 5;
    width: 100%;
    height: 80%;
    top: 14%;

}
#img2{
  position: absolute;
    z-index: 5;
    width: 100%;
    height: 80%;
    top: 18%;
}

#leftbar{

	height: 100%;
	padding-left: 5%;
	width:10%;
	position: relative;
	float:left;

}

#bottombar{

	height:40%;
	width: 70%;
	position: relative;
	padding-top: 5%;
	padding-right: 5%;
	float:right;


}

#profile{

	height:50%;
	width: 70%;
	position: relative;
	margin-top: 5%;
	margin-right: 5%;
	float: right;

}

#name{

	width:80%;
	padding-top: 12%;
	padding-left: 20%;
	font-size: 24px;
	height:10%;
	text-align: center;
	position: relative;
}

#dep{

	width:80%;
	height: 10%;
	padding-left: 20%;
	text-align: center;
	position: relative;

}
#deptext{

	width:80%;
	padding-left: 20%;
	height: 50%;
	position: relative;
}

#depi{

	width:100%;
	height:100%;
	display: none;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
