@import url('http://fonts.googleapis.com/css?family=Francois+One');

html{

	height:100%;
	width:100%;
	font-family: Francois One;
	overflow: hidden;

}

body{
	height: 100%;
	width:100%;
	margin:0;
}

h1{
	margin:0;
	font-size: 36px;
}

#header{
	position: relative;
	height:15%;
	width:100%;
	z-index: 0;

}

#heading{

	padding:10px;
	text-align: center;
}

#main{
	position: relative;
	height:85%;
	width:100%;
	z-index: 0;
}

#display{
	position: absolute;
	height:100%;
	width:100%;
	z-index: 20;
}